#wrapper .footer dl dd {
    font-size: 12px;
}

#wrapper .footer {
    width: 100%;
    float: left;
    /*position: absolute;*/
    bottom: -45px;
    background: pink;
    color: white;
    height: 100px;
    min-width: 1000px;
    margin-top: 50px;
}

.footer .footer-content {
    background: #fafafa;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.footer .footer-content .footer-infor {
    width: 1000px;
    margin: 0 auto;
    /*min-height: 200px;*/
    height: 261px;
}

.footer .footer-infor dl {
    width: 170px;
    color: gray;
    float: left;
    padding-left: 20px;
    margin: 25px 0;
    border-left: 1px solid #e4e4e4;
    min-height: 175px;
}

.footer .footer-infor dl dt {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.footer .footer-infor a {
    color: gray;
    padding-left: 5px;
}

.footer .footer-infor a:hover {
    color: #35b558;
}

.footer .footer-infor dl dd {
    margin-top: 10px;
    margin-left: 0;
}

.footer .footer-infor .footer-contact {
    width: 195px;
    float: left;
    /*min-height: 226px;*/
    padding: 20px 0 0 40px;
    border-left: 1px solid #e4e4e4;
}

.footer .footer-contact .jktxt {
    font-size: 15px;
    font-weight: 500;
    color: #35b558;
    margin-bottom: 15px;
    display: block;
}

.footer .footer-contact .app-download a {
    padding-left: 0;
}

.footer .footer-contact .app-download img {
    width: 21px;
    display: block;
    float: left;
    margin-right: 15px;
}

.footer .footer-contact .app-download strong {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
}

.footer .footer-contact .app-download a:hover strong,
.footer .footer-contact .app-download a:hover p {
    color: #35b558;
}

.footer .footer-contact .app-download p {
    font-size: 14px;
    color: gray;
    background: url(../images/more-footericon.png) 160px center no-repeat;
    background-size: 7px 13px;
    margin-top: -2px;
}

.footer .footer-contact .share {
    margin-top: 15px;
}

.footer .footer-contact .share a {
    background: url(../images/icon_footer.png) -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 10px;
}

.footer .footer-contact .share a.sina-icon {
    background-position: -20px 0;
}

.footer .footer-contact .share a.sina-icon:hover {
    background-position: -20px -40px;
}

.footer .footer-contact .share a.tieba-icon {
    background-position: -143px 0;
}

.footer .footer-contact .share a.tieba-icon:hover {
    background-position: -143px -40px;
}

.footer .footer-contact .share a.qq-icon {
    background-position: -20px -82px;
}

.footer .footer-contact .share a.qq-icon:hover {
    background-position: -20px -122px;
}

.footer .footer-contact .share a img {
    position: absolute;
    bottom: 32px;
    left: -48px;
    z-index: 200;
    display: none;
}

.footer .footer-contact .share a.qq-icon:hover img {
    display: block;
}

.footer .footer-contact .kefu {
    margin-top: 60px;
    /*padding-left: 35px;*/
}

.footer .footer-contact .kefu a {
    padding: 0;
    display: block;
}

.footer .footer-contact .kefu .kefu-icon {
    width: 40px;
    height: 40px;
    float: left;
    background: url(../images/kefu.png) no-repeat -40px 0/80px 40px;
    background-position: 0 0;
}

.footer .footer-contact .kefu h5 {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    padding-left: 5px;
    margin-bottom: 2px;
}

.footer .footer-contact .kefu p {
    color: gray;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 0;
}

.footer .footer-contact .kefu a:hover h5,
.footer .footer-contact .kefu a:hover p {
    color: #35b558;
}


/*copyright*/

.footer .copyright {
    width: 1000px;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    height: 57px;
}

.footer .copyright strong {
    font-weight: 400;
}

.footer .copyright a {
    color: #999;
}
