#wrapper .goto-top{
	position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}
#wrapper .goto-top a .gotop{
	display: block;
    background: url(../images/gotop.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}
#wrapper .goto-top a .gotop-phone{
	position: relative;
    display: block;
    background: #f7f7f7 url(../images/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
#wrapper .goto-top a .gotop-weixin{
	position: relative;
    display: block;
    background: #f7f7f7 url(../images/weixin.jpg) center center no-repeat;
    background-size: 34px 34px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
#wrapper .goto-top a .gotop-connection{
	position: relative;
    display: block;
    background: #f7f7f7 url(../images/connection.png) center center no-repeat;
    /*background-size: 12px 24px;*/
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}