.quality-path {
    width: 1000px;
    /*border: 1px solid gray;*/
}

.quality-list {
    margin-top: 20px;
}

.quality-title {
    margin-bottom: 16px;
}

.quality-title strong a {
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: 500;
}

.quality-title .way {
    font-size: 12px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: #fff;
    background: #999;
    line-height: 13px;
    text-align: center;
    display: block;
    float: left;
    margin: 5px 8px 0;
    cursor: pointer;
}

.quality-title .way-infor {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 3px #ccc;
    position: relative;
    display: inline-block;
    opacity: 0;
    margin-left: -5px;
}

.quality-title .way:hover + .way-infor {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 3px #ccc;
    position: relative;
    display: inline-block;
    opacity: 1;
    margin-left: 0px;
}

.quality-title .way-infor i {
    background: url(../images/title-sj_adebc06.jpg) center center no-repeat;
    width: 5px;
    height: 10px;
    display: block;
    position: absolute;
    left: -5px;
    top: 5px;
    z-index: 10;
}

.quality-title .more-lesson {
    color: #2d85ca;
    float: right;
    margin-top: 4px;
    font-size: 12px;
}

.quality-card {
    width: 1000px;
    height: 265px;
    /*border: 1px solid #E4E4E4;*/
    margin-top: 20px;
}

.quality-lesson {
    float: left;
    width: 230px;
    height: 265px;
    padding: 16px;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    position: relative;
    margin-right: 20px;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    transition: border-color .3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quality-lesson h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.quality-lesson .images {
    margin-bottom: 15px;
}

.quality-lesson .images img {
    display: block;
    width: 100%;
    height: 100%;
}

.quality-lesson .word {
    position: relative;
    z-index: 20;
    color: gray;
    line-height: 18px;
}

.quality-lesson .word span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-right: 6px;
}

.quality-lesson .word .lesson-count {
    max-width: 40px;
}

.quality-lesson .word .learn-count {
    max-width: 90px;
}

.quality-lesson .word .collect {
    float: right;
    width: 56px;
    height: 20px;
}

.quality-lesson .save-btn {
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    background: #35b558;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 20px;
    padding: 0;
    line-height: 21px;
    border-color: #35b558;
    text-align: center;
}

.quality-lesson .describe {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, .9);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .8s;
}

.quality-lesson .describe .pic {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
}

.quality-lesson a {
    color: #666;
}

.quality-lesson .describe .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.quality-lesson .name {
    width: 100%;
    position: absolute;
    top: 74px;
    left: 0;
}

.quality-lesson .text a.study-content {
    width: 90%;
    height: 40px;
    text-align: left;
    line-height: 20px;
    position: absolute;
    top: 100px;
    padding: 0 14px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    left: 0;
}

.quality-lesson .describe a:hover {
    color: #35b558;
}

.quality-lesson .describe .text a.study-btn {
    height: 26px;
    width: 100px;
    padding: 0 15px;
    background: #35b558;
    border-color: #eaeaea;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    position: absolute;
    top: 165px;
    left: 52px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color .8s, border-color .8s;
    -moz-transition: background-color .8s, border-color .8s;
    transition: background-color .8s, border-color .8s;
}

.quality-card .quality-lesson:hover {
    border: 1px solid #35b558;
}

.quality-card .quality-lesson:hover .describe {
    opacity: 1;
    border: 1px solid #35b558;
}

.quality-lesson .describe a.study-btn:hover {
    background: #66d178;
    color: #fff;
    outline: 0;
}

.quality-lesson .word .collect span.save-btn:hover {
    background: #66d178;
    color: #fff;
    outline: 0;
}
