.middle_top_center #container #container {
    width: 562px;
    height: 262px;
    border: 2px #eee solid;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.middle_top_center #container #buttons,
.middle_top_center #container .slidpic {
    display: none;
}

.middle_top_center #container .slidpic {
    position: absolute;
    opacity: 0
}

.middle_top_center #container .slidpic:first-child {
    display: block;
    opacity: 1;
}

.middle_top_center #container:hover #buttons {
    display: block;
}

.middle_top_center #container #buttons i {
    width: 30px;
    color: white;
    height: 60px;
    line-height: 60px;
    background: #333;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity: 20);
    font-family: simsun;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.middle_top_center #container #buttons i:hover {
    opacity: 0.4;
    filter: alpha(opacity: 40);
}

.middle_top_center #container #prev {
    /*position: absolute;*/
    z-index: 3;
    float: left;
    position: relative;
    top: 100px;
    left: 10px;
    color: #fff;
}

.middle_top_center #container #next {
    /*position: absolute;*/
    z-index: 3;
    float: right;
    position: relative;
    top: 100px;
    right: 10px;
    color: #fff;
}

.middle_top_center #container #slidot {
    /*position: absolute;*/
    float: left;
    position: relative;
    top: 240px;
    left: 215px;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.middle_top_center #container #slidot li {
    list-style: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: gray;
    border-radius: 100%;
    margin: 0 4px;
    *display: inline;
    *zoom: 1;
}

.middle_top_center #container #slidot li:hover {
    background: #fff;
    cursor: pointer;
}

.middle_top_center #container #slidot li.on {
    background: #fff;
}
